---
title: Request Information
layout: landing
baseurl: /
description: >-
  Kankakee Community College has attentive professors, a variety of programs,
  small class sizes and positive ratings from students. KCC is an accredited
  non-profit college. Financial aid is available.
background_image: /uploads/Z92_1343.jpg
main_heading: Get&nbsp;ahead.
sub_heading: Get&nbsp;started&nbsp;at&nbsp;KCC.
form_heading: REQUEST INFORMATION
icon_section_heading: Why Choose KCC?
testimonials_heading: What Our Students Say
exclude_testimonials_html_quotes: true
testimonials:
  - portrait: /uploads/kiara-molina.jpg
    portrait_alt_text: Kiara Molina
    quote: >-
      I believe KCC was a perfect start for furthering my education. KCC has provided a lot of insight of what a community
      college was all about coming from a person who never seen themselves going to any kind of college after
      graduating High&nbsp;School.
    name: Kiara Molina, current student
    year:
  - portrait: /uploads/gael-glidden.jpg
    portrait_alt_text: Gael Glidden
    quote: >-
      KCC was a great choice for me, being able to stay local for my first few years of college, along with the low cost of
      tuition, made everything easier! I think KCC is preparing me well for transferring and reaching my goals, specifically
      by offering many class types at different times that work well with my&nbsp;schedule.
    name: Gael Glidden, current student
    year:
  - portrait: /uploads/avry-gray.jpg
    portrait_alt_text: Avry Gray
    quote: >-
      My experience in the general education and science programs have been very positive. The professors make sure that we
      communicate when we need help and are flexible when you're open about health issues, which I definitely appreciate. KCC
      was the best choice for me because it is more affordable, it's closer to home, which is great because I wasn't quite
      ready to leave&nbsp;yet.
    name: Avry Gray, current student
    year:
_inputs:
  exclude_testimonials_html_quotes:
    hidden: true
---
{% include header.html %}
  {% include benefits.html %}
  {% include bottom-action-call.html %}
