---
title: Request Information
layout: landing
baseurl: /
description: >-
  Kankakee Community College has attentive professors, a variety of programs,
  small class sizes and positive ratings from students. KCC is an accredited
  non-profit college. Financial aid is available.
background_image: /uploads/Z92_1343.jpg
main_heading: Get&nbsp;ahead.
sub_heading: Get&nbsp;started&nbsp;at&nbsp;KCC.
form_heading: REQUEST INFORMATION
---
{% include header.html %}
  {% include benefits.html %}
  {% include bottom-action-call.html %}
