---
title: Request Information
layout: landing
baseurl: /
description: >-
  Kankakee Community College has attentive professors, a variety of programs,
  small class sizes and positive ratings from students. KCC is an accredited
  non-profit college. Financial aid is available.
background_image: /uploads/Z92_1343.jpg
main_heading: Get&nbsp;ahead.
sub_heading: Get&nbsp;started&nbsp;at&nbsp;KCC.
form_heading: REQUEST INFORMATION
icon_section_heading: Why Choose KCC?
testimonials_heading: What Our Students Say
exclude_testimonials_html_quotes: true
testimonials:
  - portrait: /uploads/melany-villagomez.jpg
    portrait_alt_text: Melany Villagomez
    quote: >-
      KCC truly embodies 'start here finish anywhere.' At KCC the class sizes are smaller so it'll be an easier transition
      from high school to college, but it also will mean that professors are more attentive to student needs. Some of the best
      professors I had throughout my undergrad were professors who are still at KCC.
    name: Melany Villagomez, A.A. '19
    year:
  - portrait: /uploads/adriana-lowery-garcia_jhd_6983.jpg
    portrait_alt_text: Adriana Lowery-Garcia
    quote: >-
      KCC has been the best choice when choosing what college to go to, all the professors are very helpful and if you need
      anything, they will always help no matter the situation! KCC is an amazing college and even if you have doubts, it's
      definitely worth giving it a shot because you won't be disappointed!
    name: Adriana Lowery-Garcia, Current Student
    year:
  - portrait: /uploads/jakob-knox.jpg
    portrait_alt_text: Jakob Knox
    quote: >-
      After graduating high school, I was hesitant about attending a four-year university, and was reluctant on what I wanted
      to pursue professionally. I chose Kankakee Community College because it offered me the freedom of pursuing what I wanted
      to, and the guidance and academic support I needed to excel both personally and academically. KCC really set me up for
      success as it provided me with those real-world experiences and immersed me in our community.
    name: Jakob Knox, A.S. '21
    year:
_inputs:
  exclude_testimonials_html_quotes:
    hidden: true
---
{% include header.html %}
  {% include benefits.html %}
  {% include bottom-action-call.html %}
