<nav id="globalNav" role="navigation" class="navbar global-nav fixed-top navbar-fixed-top">
  <a class="clickable navbar-brand global-nav__navbar-brand" href="http://www.kcc.edu" target="_blank" rel="noopener"><img src="{{ page.baseurl }}assets/img/kcc-logo-inverse.svg" class="global-nav__kcc-logo-inverse" alt=""><img id="kccUrl" src="{{page.baseurl}}assets/img/kankakee-community-college-word-logo.svg" class="img-fluid kcc-logo global-nav__mobile-hide" alt="Kankakee Community College link to home page"></a>
  <span class="typography__phone--span"><a class="links__phone--span" href="tel:+18158028508">815-802-8508</a></span>
</nav>
