// Positioning Styles
// ==========================================

.positioning__heading--row {
  margin-top: 1rem !important;
}


@media screen and (min-width: 1200px) {
  .positioning__heading--row {
    margin-top: 2rem !important;
  }
}

/*
@media screen and (min-width: 1800px) {
  .positioning__heading--row {
    margin-top: 25%;
  }
}
*/

.positioning--max-width-700 {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}
